pandas
openpyxl
matplotlib
seaborn

langchain
langchain-community
python-dotenv
tabulate

langchain-google-genai
langchain-ollama
langchain-groq

langchain-experimental

langgraph

#BD
psycopg2-binary

#checkpoint
langgraph-checkpoint-postgres
psycopg[binary,pool]

#backend
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-multipart==0.0.9

scipy

cloudinary
